[submodule "panda"]
	path = panda
	url = ../../iambluefred/panda.git
[submodule "opendbc"]
	path = opendbc
	url = ../../iambluefred/opendbc.git
[submodule "laika_repo"]
	path = laika_repo
	url = ../../iambluefred/laika.git
[submodule "cereal"]
	path = cereal
	url = ../../iambluefred/cereal.git
[submodule "rednose_repo"]
	path = rednose_repo
	url = ../../iambluefred/rednose.git
